# ignoring following suffixes
*.o
*.log
*.a
*.m4
*.Plo
*.Po
*.so
*.so.0
*.so.0.0.0
*.pyc

# ignoring following files
TAGS
proxenet
gdb*
.gdb_history
ABOUT-NLS
autom4te*
build*/*
config.guess
config.h
config.h.in*
config-git.h
config.log
config.rpath
config.status
config.sub
depcomp
insert-header.sin
install-sh
libtool
ltmain.sh
Makefile
Makefile.in*
Makevars.template
missing
po/*quot*
*stamp
stamp*
